@import "variables";

.form-group > label {
    &.required {
        &:after {
            content: " *";
            color: $color-danger;
        }
    }
}

.form-control.form-control-unstyled {
    padding: 0;
    border: none;

    .form-check.form-check-inline {
        margin-bottom: 0;
        margin-top: 0.2rem;
    }

    &.is-invalid {
        color: $color-danger;
    }

    &.is-valid {
        color: $color-success;
    }
}
