@import 'variables';

.form-group {
  > label,
  > .col-form-label,
  // for horizontal
  > .row > .col-form-label {
    font-weight: bolder;

    &.required:after {
      content: "required";
      margin-left: 0.8em;
      font-size: 0.5em;
      font-weight: normal;
      padding: 0.3em 0.5em;
      border-radius: 3px;
      color: $white;
      background-color: $danger;
    }
  }

  // beautify inline checkboxes/radios
  .form-check-inline {
    margin-top: 0.4em;

    > .form-check:first-child {
      padding-left: 0;
    }
  }

  .custom-file-label {
    color: $text-muted;
    overflow: hidden;
    &:after {
      // uncomment and tweak to change 'Browse' label
      //content: 'Browse files' !important;
    }
  }

  .invalid-feedback {
    margin-bottom: 0.5em;
  }
}

// beautify checkboxes/radios in Japanese environment
html[lang="ja"] {
  .form-group {
    .form-check {
      input[type="checkbox"] {
        margin-top: 0.23rem;
      }
    }
    .form-check-inline {
      .form-check {
        input[type="checkbox"] {
          margin-top: 0;
        }
      }
    }
  }
}
