{% extends "layout.html.twig" %}

{% block subtitle %}Form Sample{% endblock %}

{% block content %}
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a href="{{ url('homepage') }}" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active">Form Sample</a>
        </li>
    </ul>

    <div class="row">
        <div class="col-lg-10">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
