{% extends "layout.html.twig" %}

{% block content %}
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
            <a href="{{ url('form') }}" class="nav-link">Form Sample</a>
        </li>
    </ul>

    <p>Welcome to your new Silex Application!</p>
{% endblock %}
