{% extends "layout.html.twig" %}

{% block content %}
    <div class="text-center" style="padding-top:30vh;">
        <h1>esaba</h1>
        <p>enables you to host your markdown docs on <a href="https://esa.io">esa.io</a> with your own css. Enjoy!</p>
    </div>
{% endblock %}
