{% extends "layout.html.twig" %}

{% block content %}
    <div style="height:70vh; text-align:center; padding-top:30vh;">
        <h1>esaba</h1>
        <p>enable you to host your markdown docs on <a href="https://esa.io">esa.io</a> with your own css. Enjoy!</p>
    </div>
{% endblock %}
